<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Poolingpeople webapplication</display-name>
    <filter>
        <filter-name>ExceptionHandlingFilter</filter-name>
        <filter-class>poolingpeople.mock.filters.ExceptionHandlingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionHandlingFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.use.deployment.sensitive.factory</param-name>
        <param-value>false</param-value>
    </context-param>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>poolingpeople.mock.MockUpApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
